#parent {
    display: flex;
    justify-content: space-between;
}

.border {
    border: 1px solid black;
    width: 45%;
    height: 600px;
}

.border img {
    width: 60%;
    height: 60%;
}

.border {
    border: 1px solid black;
    width: 45%;
    height: 300px;
}

.border h1 {
    font-size: 15px;
}

.border h4 {
    font-size: 10px;
}
