#parent {
    display: flex;
    justify-content: space-between;
}

.border {
    border: 1px solid black;
    width: 45%;
    height: 600px;
}

.border img {
    width: 70%;
    height: 60%;
}

.border {
    border: 1px solid black;
    width: 45%;
    height: 600px;
}
